body {
	background-color: #EAC7DC;
}

footer {
	text-align: center;
	font-size: small;
}
#name-header {	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px black;
}
#cs-student {	text-align:center;
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
header {
	padding-bottom: 5px;
	border-bottom: 1px solid #000000;
	text-align:center;
}

#contact-info {
	text-align:center;
}

#content {
	border-bottom: 1px solid #000000;
}

.left{text-align:left;
	float:left;}

.right{text-align:right;
	float:right;}

.nic-img{
	width:31%;
	padding:1%;
	style:inline;
}
#nic-image-div{
	border:1px solid #000000;
	max-width:500px;
}
